/*
*********************  style.css  *****************************************************************
*/

:root {
    --weddingRentalMauve: 213, 182, 174, .87;
    --mauveFaded: 213, 182, 174, .4;
}


html, body {
  height: 100%;
  width: 100%;
}


/*
************************  Header *********************************************************************
*/

#headerImage {
  background-image: url('img/headerImages/frontHeader.jpg');
  background-position: 50% 30%;
  background-size: cover;
  height: 300px;
}

.navbar-custom {
  font-size: x-large;
  font-weight: 400;
  
}

#navbarSupportedContent {
  background: rgba(255,255,255,.25);
  border-radius: 8px;
}

/*
************************  Footer *********************************************************************
*/

.footer-style{
  background: rgba(var(--mauveFaded));
  font-family:serif;
  font-weight: 150;
  font-size: large;
  color: black;
}


.footer-style{
  background-image: radial-gradient(circle, rgba(var(--mauveFaded)), rgba(255,255,255,1) );
  font-family:serif;
  font-weight: 150;
  font-size: large;
  color: black;
}






#Question1group{
  padding-bottom: 25px;
}

.form-group {
  padding-bottom: 50px;
}

.label {
  padding-bottom: 5px;
}
/*
end of CSS for check-inForm.html
*/

/*
Start of CSS for aboutus.html
*/

.img-logo{
  width:75px;
  height:75px;
  object-fit: cover;
  float: right;
}

.fit-img{
 width: 200px;
 height: 200px;
 object-fit: cover;
}

.about-us-foot{
  height:50px;
  background: linear-gradient(to bottom, white 0%, rgba(var(--weddingRentalMauve)) 50%);
}

.index-head{
    text-align: left;
    font-family: proxima-nova;
    font-weight: 600;
    font-style: normal;
    height: 60px;
    letter-spacing: 1px;
    text-transform: none;
    line-height: 1.2em;
    color: rgba(var(--weddingRentalMauve));
}

h1 {
    color: rgba(var(--weddingRentalMauve));
}

h3 {
    font-family: proxima-nova;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.2em;
    color: rgba(var(--weddingRentalMauve));
}

clear {
  clear: both;
  display: table;
}

.head-color{
  background: linear-gradient(to right,  #000000 50%, #ffffff 100%); 
}

.center-align{
  text-align: center;  
}


h1 {
  color: rgba(var(--weddingRentalMauve));
}

.under-start {
clear: left;
white-space: nowrap;
}

.under-end {
clear: right;
white-space: nowrap;
}


/*
End of CSS for aboutus.html
*/

/*
Start of Agreement Page CSS
*/

.agreement-head{
  text-align:center;
}
.agreement-list{
  margin-left:10%;
  margin-right: 10%;
}
.first-p{
  margin-left:10%;
  margin-right: 10%;
}
.agreement-h2{
  text-align:center;
}
.table-head{
  height: 30px;
}
.agreement-th{
  text-align: center !important;
}
.table-adjust{
  width: 80%;
  margin-left: 15%;
  margin-right: 15%;
}



/*
End of Agreement Page CSS
*/

/*
********************************************Pick Your Set ***********************************************
*/

#layeredArch:hover {
  border: 5px solid #555
}

#modernRound:hover {
  border: 5px solid #555
}

#vintageMirror:hover {
  border: 5px solid #555
}

#darkWalnut:hover {
  border: 5px solid #555
}

#rusticWood:hover {
  border: 5px solid #555
}

/*
********************************************Layered Arch Set Page CSS***********************************************
*/

html, body {
  height: 100%;
  width: 100%;
}
.logo{
  max-height: 75px;
  width:auto;
}
.upper{
  background-color: #d5b6ae !important;
}
body{
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 96px;
    padding-top: 0px;

}
.extras-head{
  background-color: #d5b6ae;
  height:100px;
  font-family: serif;
  font-weight: 100;
  color: white;
  text-align: center;  
}
.section-head{
  color:#d5b6ae;
  font-family: serif;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}
#setDescription{
  color: rgba(26,26,26,.7);
}
#colorOptionsDescription{
  color: #d5b6ae;
  font-weight: bold;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card-text {
  text-align: center;
}
#buttonDiv{
  padding: 5%;
}
#checkAvailabilityButton{
  background-color:  #d5b6ae;
  color: white;
}
section * {
  padding: .5%;
}

div.setDescription > * {
  text-align: left;
}
#sectionRentalPackagesDescription {
  padding: 0% !important; 
}

hr {
  padding: .5%;
}

.sectionPick6set > * {
  text-align: center;
}
#unpluggedCeremonySignRow {
  padding-top: 5%;
}

/*
********************************************End of Layered Arch Set Page CSS***********************************************
*/