/*
*********************  style.css  Site-Wide *****************************************************************
*/

:root {
    /* --weddingRentalMauve: 213, 182, 174, .87; */
    --weddingRentalMauve: 191, 163, 120, .97;
    --mauveFooter: 213, 182, 174, 1;
    --bodyBackgroundFade: 213, 182, 174;
    --footerFade: 255, 255, 255, .01;
}


html, body {
  height: 100%;
  width: 100%;
}

html {
  min-height: 100%;
}

#grad1 {
  background-image: radial-gradient(circle at center, rgba(256,256,256,1), rgba(var(--bodyBackgroundFade), .12));
  background-size: cover;
  position: relative;
}

h1 {
  color: rgba(var(--weddingRentalMauve));
}

h3 {
  font-family: proxima-nova;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.2em;
  color: rgba(var(--weddingRentalMauve));
}

h5 {
  font-family: proxima-nova;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.2em;
  color: rgba(var(--weddingRentalMauve));
}

clear {
clear: both;
display: table;
}

a {
  color: rgba(var(--weddingRentalMauve));
  text-decoration: none;
  background: transparent;
}

a:hover {
  color: black;
}

/*
************************  Header *********************************************************************
*/

#headerImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('img/headerImages/frontHeader.jpg');
  background-position: 50% 30%;
  background-size: cover;
  height: 600px;
  transition: 1.9s;
}

.navbar-custom {
  font-size: x-large;
  font-weight: 400;
  
}

#navbarSupportedContent {
  background: rgba(255,255,255,.3);
  border-radius: 20px;
}

.margin-menu{
  margin-right: 25px;
  margin-left: 25px;
}
/*
************************  Footer *********************************************************************
*/


.footer-style{
  background-image: radial-gradient(circle, rgba(var(--mauveFooter)), rgba(var(--footerFade)) );
  font-family:sans-serif;
  font-weight: 150;
  font-size: large;
  color: white;
}

.foot-link {
  color: white !important;
}

.footerLinksBlack{
  color:black; 
  white-space: nowrap;
}



/*
************************  index.html *********************************************************************
*/

.entryLuxury{
  text-align: center;
  white-space: pre-wrap;
  font-size: 32px;
  margin: 1em 0 0.5em;
  color: rgba(var(--weddingRentalMauve));
  font-family: adobe-garamond-pro;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.2em;
  text-rendering: optimizeLegibility;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

.entryNonProfit{
  text-align: center;
  white-space: pre-wrap;
  margin-bottom: 0;
  margin: 1em 0 0.5em;
  color: rgba(26,26,26,.9);
  font-family: proxima-nova;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.2em;
  text-rendering: optimizeLegibility;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.col-1-special {
  flex: 0 0 auto;
  width: 6%;
}
.col-2-special {
  flex: 0 0 auto;
  width: 8%;
}

@media (min-width: 768px) {
  .col-md-4-special {
    flex: 0 0 auto;
    width: 40%;
  }
}

.fit-img{
  width: 280px;
  height: 280px;
  object-fit: cover;
 }

/*
************************  What is this?  *********************************************************************
*/


#Question1group{
  padding-bottom: 25px;
}

.form-group {
  padding-bottom: 50px;
}

.label {
  padding-bottom: 5px;
}
/*
end of CSS for check-inForm.html
*/

/*
Start of CSS for aboutus.html
*/

.img-logo{
  width:75px;
  height:75px;
  object-fit: cover;
  float: right;
}

.about-us-foot{
  height:50px;
  background: linear-gradient(to bottom, white 0%, rgba(var(--weddingRentalMauve)) 50%);
}

.index-head{
    text-align: left;
    font-family: proxima-nova;
    font-weight: 600;
    font-style: normal;
    height: 60px;
    letter-spacing: 1px;
    text-transform: none;
    line-height: 1.2em;
    color: rgba(var(--weddingRentalMauve));
}

.head-color{
  background: linear-gradient(to right,  #000000 50%, #ffffff 100%); 
}



/*
Start of Agreement Page CSS
*/

.agreement-head{
  text-align:center;
}
.agreement-list{
  margin-left:10%;
  margin-right: 10%;
}
.first-p{
  margin-left:10%;
  margin-right: 10%;
}
.agreement-h2{
  text-align:center;
}
.table-head{
  height: 30px;
}
.agreement-th{
  text-align: center !important;
}
.table-adjust{
  width: 80%;
  margin-left: 15%;
  margin-right: 15%;
}



/*
End of Agreement Page CSS
*/

/*
********************************************Pick Your Set ***********************************************
*/

.fit-img-2{
  width: 220px;
  height: 220px;
  object-fit: cover;
 }

.center-align{
  text-align: center;  
}

.under-start {
clear: left;
white-space: nowrap;
}

.under-end {
clear: right;
white-space: nowrap;
}

#layeredArch:hover {
  border: 5px solid #555
}

#modernRound:hover {
  border: 5px solid #555
}

#vintageMirror:hover {
  border: 5px solid #555
}

#darkWalnut:hover {
  border: 5px solid #555
}

#rusticWood:hover {
  border: 5px solid #555
}


/*
********************************************  extras.php  ***********************************************
*/

.fit-img-extras{
  width: 150px;
  height: 150px;
  object-fit: cover;
 }

 #option0:hover {
  border: 5px solid #555
}
#option1:hover {
  border: 5px solid #555
}
#option2:hover {
  border: 5px solid #555
}
#option3:hover {
  border: 5px solid #555
}
#option4:hover {
  border: 5px solid #555
}
#option5:hover {
  border: 5px solid #555
}
#option6:hover {
  border: 5px solid #555
}

/*
********************************************Layered Arch Set Page CSS***********************************************
*/


/*Kat's CSS merged from extras.css*/
.center{
  display: flex;
  justify-content: center;
  align-items: center;

}

.logo{
  max-height: 75px;
  width:auto;
}

.upper{
  background-color: #d5b6ae !important;
}

.top-desc{
  max-width: 700px;
  text-align: center;
  font-family: sans-serifif;
  font-weight: 250;
  font-size: x-large;
  color: white;
  text-shadow: 3px 3px 6px #4d4d4d;
}

.back-img{
  background-color: #d5b6ae;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.extras-head{
  background-color: #d5b6ae;
  height:100px;
  font-family: serif;
  font-weight: 100;
  color: white;
  text-align: center;  
}

.site-head{
  text-shadow: 3px 3px 6px #4d4d4d;
  color:#d5b6ae;
  font-family: serif;
  font-size: 75px;
  font-weight: 100;
  text-align: center;
}

.section-head{
  color:#d5b6ae;
  font-family: serif;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}

#setDescription{
  color: rgba(26,26,26,.7);
}

#colorOptionsDescription{
  color: #d5b6ae;
  font-weight: bold;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card-text {
  text-align: center;
}
#buttonDiv{
  padding: 5%;
}
#checkAvailabilityButton{
  background-color:  #d5b6ae;
  color: white;
}
section * {
  padding: .5%;
}

div.setDescription > * {
  text-align: left;
}
#sectionRentalPackagesDescription {
  padding: 0% !important; 
}

hr {
  padding: .5%;
}

.sectionPick6set > * {
  text-align: center;
}
#unpluggedCeremonySignRow {
  padding-top: 5%;
}

/*
********************************************End of Layered Arch Set Page CSS***********************************************
*/




/*
********************************************Rustic Wood Set Page CSS***********************************************
*/

.extras-head{
  background-color: #d5b6ae;
  height:100px;
  font-family: serif;
  font-weight: 100;
  color: white;
  text-align: center;  
}
.section-head{
  color:#d5b6ae;
  font-family: serif;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}
#setDescription{
  color: rgba(26,26,26,.7);
}
#colorOptionsDescription{
  color: #d5b6ae;
  font-weight: bold;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card-text {
  text-align: center;
}
#buttonDiv{
  padding: 5%;
}
#checkAvailabilityButton{
  background-color:  #d5b6ae;
  color: white;
}
section * {
  padding: .5%;
}

div.setDescription > * {
  text-align: left;
}
#sectionRentalPackagesDescription {
  padding: 0% !important; 
}

hr {
  padding: .5%;
}
#pick4price {
  text-align: center !important;
}
#pick4directions {
  text-align: center !important;
}


div.col-sm-6 {
  padding: 2% !important;
}


#welcomeSignDiv{
  text-align: center !important;
}
#photoCred{
  text-align: center !important;
}
.youPickFourList *  {
  padding: 1%;
}




/*
********************************************End of Rustic Wood  Set Page CSS***********************************************
*/

.text-box{
  display: flex;
  justify-content: center;
}
.description{
  max-width: 700px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  font-size: x-large;
  color: #808080;
}
.topper{
  align-content: center;
}

.section{
  padding: 10rem 3rem;
  border-bottom: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}
/*Slide Show CSS  */
.slidshow-container{
  max-width: 75%;
  position: relative;
  margin: auto;
}
.slide-pics{
  height: auto; 
    width: auto; 
    max-width: 75%; 
    max-height: 600px;
}
.slider, .slider2{
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.slide, .slide2{
  position:absolute;
  top: 0;
  width:100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}
.slider_btn, .slider_btn2 {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: none;
  font-family: inherit;
  color: #d5b6ae;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  font-size: 3rem;
  cursor: pointer;
}
.slider_btn-left {
  left: 5%;
  transform: translate(-30%, -50%);
}
.slider_btn-right {
  right: 5%;
  transform: translate(30%, -50%);
}
/*Dots for carosel  */
.dots1, .dots2{
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%) ;
  display: flex;
}
.dots_dot1, .dots_dot2 {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}
.dots_dot:last-child {
  margin: 0;
}
.dots_dot-active{
  background-color:#d5b6ae ;
  opacity: 1;
}
.party-img{
  max-height: 300px;
  
  width: auto;
}
.button{
  background-color:#d5b6ae !important ;
  border-color: white !important;
}
.extras-footer{
  background-color: #d5b6ae;
}

/*Check Availability CSS  */
.rental-head{
  color:#d5b6ae;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}
.select-style{
  max-width: 400px;
}
.option-style{
  font-family: sans-serif;
  color: #808080;
}
.form-align{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

/* vardump styles */
.text-color{
  color:#4d4d4d !important;
}
.descriptionList{
  font-family: sans-serif;
  font-weight: 75;
  font-size: medium;
  color: #808080;
}
#wrap{
  display: inline-block;
}

.formClass > label {
  font-size: large;
}

/*   Breadcrumbs styles   */
.relative{
  position: relative;
  left: 20px;
  margin-bottom: 50px;
}

span{
  display: inline;
}

.text-style{
  color:#d5b6ae;
}

.page-select{
  color: #f78fa7;
}

/* reserve.php styles */
.alternateContactHeader {
  color:#d5b6ae !important;
  padding: 2%;
}

